/*General Utility*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.margin{
    margin: 0 auto;
}

.no-style{
    list-style: none;
}

/*Specific Utility*/

/*Header*/
.container-h{
    background-color: #0084fd;
    width: 100%;
    /*da rimuovere*/
    height: 100px;
}

.container{
    width: 80%;
    /*da rimuovere*/
    height: 100px;
    background-color: red;
}

/*Main*/
.badges{
    /*da rimuovere*/
    height: 100px;
    background-color: blue;
}

.singol-badge{
    width: 100%;
    /*da rimuovere*/
    background-color: bisque;
    height: 50px;
}
/*tag selection*/

nav img{
   /* width: 80%; */
}
