/*General Utility*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.margin{
    margin: 0 auto;
}


/*Specific Utility*/

.container-h{
    background-color: #0084fd;
    width: 100%;
    /*da rimuovere*/
    height: 100px;
}

.container{
    width: 80%;
    /*da rimuovere*/
    height: 100px;
    background-color: red;
}

/*tag selection*/

