/*General Utility*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
    row-gap: 1rem;
}

.space-between{
    justify-content: space-between;
}

.margin{
    margin: 0 auto;
}

.no-style{
    list-style: none;
}

/*Specific Utility*/

/*Header*/
.container-h{
    background-color: #0084fd;
    width: 100%;
}

.container{
    width: 80%;
}

/*Main*/
.badges{
}

.badge-devide{
    width: 100%;
    /*da rimuovere*/
    background-color: bisque;
    height: 50px;
}

.development{
    background-color: #9593e6;
    width: 100%;

}


/*tag selection*/

nav img{
   /* width: 80%; */
}

.badge{
    width: 100%;
    /*da rimuovere*/
    background-color: bisque;
    height: 50px;
}


/*ID selection*/
#planning1{
    height: 100%;
    width: 100%;
}

/*Media Query*/

@media screen and (min-width: 480px) {

    .badge-devide{
        width: calc(100% / 3 - 1rem);
    }

    .badge-big{
        width: calc((100% / 3 - .2rem) * 2);
    }

}


@media screen and (min-width: 780px) {

    .stategic{
        display: flex;
    }

    
    .badge{
        
    }
    
}