/*General Utility*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.col{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.wrap{
    flex-wrap: wrap;
    row-gap: 1rem;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.gap1{
    gap: 1rem;
}

.margin{
    margin: 0 auto;
}

.no-style{
    list-style: none;
}

/*Specific Utility*/

/*Header*/
.container-h{
    background-color: #0084fd;
    width: 100%;
}

.container{
    width: 80%;
}

/*Main*/
.badges{
}

.badge-devide{
    width: 100%;
    /*da rimuovere*/
    background-color: bisque;
    height: 150px;
}

.development{
    background-color: #9593e6;
    width: 100%;

}

.badge{
    width: 100%;
    margin-top: 5rem;
    /*da rimuovere*/
    background-color: bisque;
    height: 300px;
}




/*tag selection*/

nav img{
   /* width: 80%; */
}

div.card{
    background-color: #9792e4;
    margin: 1rem;
    padding: 1rem;
}

div.card-face{

}

img.testimonial{

    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    
    padding: 1rem;
}

section.benefit{
    background-color: #9792e4;
    width: 100%;    
}

section.about-us{
    width: 100%;

    /*da rimuovere*/
    border: 1px solid red;
    height: 750px;
}
 /*da rimuovere*/
div.about-us{
    height: 750px;
    border: 1px solid blue;
}

div.about-70{
    height: 400px;
    border: 1px solid red;
}

div.about-30{
    height: 350px;
    border: 1px solid rgb(192, 74, 74);
}


/*ID selection*/
#planning1{
    height: 100%;
    width: 100%;
}

/*Media Query*/

@media screen and (min-width: 480px) {

    .badge-devide{
        width: calc(100% / 3 - 1rem);
    }

    .badge-big{
        width: calc((100% / 3 - .2rem) * 2);
    }

    div.card{
        display: flex;
    }

    .img.testimonial{
        padding: 0;
    }

    div.benefit-badges{
        justify-content: space-between;
    }

    div.badge{
        width: calc((100% / 2) - 1rem);
    }

    div.about-us{
        display: flex;
    }

    div.about-70{
        width: 70%;
    }

    div.about-30{
        width: 30%;
    }
}


@media screen and (min-width: 780px) {

    .stategic{
        display: flex;
        width: 65%;
    }

    div.benefit-badges{
        justify-content: space-between;
    }

    div.badge{
        width: calc((100% / 3) );
    }
    
}